/* Default */
	/* - Containers */
body {
	background: black;
}

header {
	order: 1;
	width: 100%;
	z-index: 2;
	background: #0b0b0b;
	border-radius: 6px 6px 22px 22px;
	border: 3px solid #C7C3C3;
	color: white;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 210%;
}

nav {
	order: 2;
	width: 95%;
	height: 100%;
	position: relative;
	z-index: 1;
	transform: translateY(-40px);
	opacity: 0.8;
	background: #32323F;
	border-radius: 20px 20px 22px 22px;
	border: 2px solid #D9D9D9;
	color: white;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 170%;
	transition: opacity 0.2s, transform 0.3s ease-in;
}
nav:hover {
	opacity: 1;
	transform: translateY(-22px);
}
nav:hover #navBtns {
	opacity: 1;
	transform: translateY(32px);
}
nav:hover #navClosed {
	opacity: 0;
	transform: translateY(20px);
}

aside {
	order: 3;
	width: 80%;
}

footer {
	order: 5;
	width: 95%;
	background: #3E4C4C;
	border-radius: 20px 20px 0 0;
	color: whitesmoke;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
	font-size: 140%;
}

	/*  - Basic */
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-align: center;
}

	/*  - Form */
form {
	margin: 10px;
}

label {
	cursor: help;
}


/* Ids */
	/* - Containers */
#cntnr {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1px;
	background: #161A1D;
	border-radius: 6px;
	color: whitesmoke;
	font-size: 13pt;
}

#navBtns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	opacity: 0;
	transform: translateY(0);
	transition: opacity 0.4s, transform 0.25s ease-in-out;
}
#navClosed {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.4s, transform 0.25s ease-out;
}

#mainBody {
	order: 4;
	width: 100%;
}


/* Classes */
.btnNav {
	flex-grow: 0;
	background: #141414;
	border-radius: 5px;
	margin: 0 3px 3px 0;
	padding: 8px 5px 5px 8px;
	font-size: 80%;
	color: #E8EEEA;
	transition: font-size 0.1s, padding 0.2s, background 0.3s, color 0.4s ease;
}
.btnNavContent {
	display: none;
	opacity: 0;
}
.btnNavIcon {
	display: block;
	opacity: 1;
	height: 30px;
	width: 30px;
}
.btnNav:hover {
	background: #E8EEEA;
	color: #141414;
	font-size: 86%;
	padding: 10px;
}
.btnNav:hover .btnNavContent {
	display: block;
	opacity: 1;
}
.btnNav:hover .btnNavIcon {
	display: none;
	opacity: 0;
}
.btnNav:active {
	background: black;
	color: white;
	padding: 5px;
}

.btnA1 {
	font-size: 100%;
	margin: 3px;
}


/* Screen size */
@media screen and (max-width: 860px) and (orientation : landscape) {
	#cntnr {
		font-size: 15pt;
	}
}
@media screen and (max-width: 720px) and (orientation : portrait) {
	#cntnr {
		width: 100%;
		font-size: 18pt;
	}
}
