/* Default */
	/* - Containers */
body {
	background: white;
	color: #000040;
}

header {
	order: 1;
	width: 100%;
	background: #000040;
	color: #f0f0ff;
	text-align: center;
	border-radius: 0 0 10px 10px;
}

nav {
	order: 3;
	width: 100%;
}

aside {
	order: 5;
	padding: 1%;
	width: 18%;
}

footer {
	order: 6;
	width: 92%;
	padding: 5px 0 5px 0;
	background: #000040;
	color: #f0f0ff;
	text-align: center;
	border-radius: 0 17px 15px 13px;
}

	/*  - Basic */
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-align: center;
}

	/*  - Form */
label {
	cursor: help;
}

textarea {
	width: 40%;
}

	/*  - Table */



/* Ids */
	/* - Containers */
#cntnr {
	background: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


	/*  - Other */
#link {
	color: #ffffff;
	text-decoration: underline;
}



/* Classes */
*.btn {
	color: white;
	background: red;
	padding: 3px;
	margin: 3px;
	font-size: 17px;
	font-family: Consolas, monaco, monospace;
	border-radius: 4px;
}

*.box {
	background: #0000a0;
	color: #dbffff;
	padding: 5px;
	margin: 5px;
	font-size: 90%;
	border-radius: 8px 3px 0 6px;
	box-shadow: 1px 3px navajowhite;
}
*.box h3 {
	text-align: left;
}
*.box a {
	color: #ffffb0
}


/* Screen size */
@media screen and (max-width: 860px) and (orientation : landscape) {
	#cntnr {
		font-size: 115%;
	}
}
@media screen and (max-width: 720px) and (orientation : portrait) {
	#cntnr {
		width: 100%;
		font-size: 140%;
	}
	aside {
		width: 100%;
	}
}
