/* Default */
	/* - Containers */
header {
	order: 1;
	width: 100%;
}

nav {
	order: 2;
	width: 100%;
}

aside {
	order: 3;
}

footer {
	order: 5;
	width: 100%;
}

	/*  - Basic */
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-align: center;
}

	/*  - Form */
label {
	cursor: help;
}


/* Ids */
	/* - Containers */
#cntnr {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#mainBody {
	order: 4;
	width: 100%;
}


/* Classes */
*.lang-en{
	display: block;
}
*.lang-pl{
	display: none;
}
*.lang-ua{
	display: none;
}

/* Screen size */
@media screen and (max-width: 860px) and (orientation : landscape) {
	#cntnr {
		font-size: 115%;
	}
}
@media screen and (max-width: 720px) and (orientation : portrait) {
	#cntnr {
		width: 100%;
		font-size: 140%;
	}
	aside {
		width: 100%;
	}
}
