# allow
<FilesMatch "\.(jpg|png|html|css)">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# deny
<FilesMatch "^(?!(.*\.(jpg|png|html|css)$)).*$">
    Order Deny,Allow
    Deny from all
</FilesMatch>